{{!-- The main.handlebars file for the burger app --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Link to reset css --}}
    {{!-- Link to bootstrap --}}
    {{!-- Link to the burger custom css --}}
    <title>Devour the Burger!</title>
    {{!-- Link to the client-side logic --}}

</head>

<body>
    {{!-- pass in the handlebar body --}}
    {{{ body }}}
</body>

</html>