{{!-- The main.handlebars file for the burger app --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Link to reset css --}}
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/assets/css/reset.css" />
    {{!-- Link to bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{!-- Link to the burger custom css --}}
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/assets/css/burger_style.css" />
    <title>Devour the Burger!</title>
    {{!-- Link to the client-side logic --}}

</head>

<body>
    {{!-- pass in the handlebar body --}}
    {{{ body }}}
</body>

</html>