{{!-- this is the content that gets passed to body in main.handlebars --}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="jumbotron d-flex justify-content-center">DEVOUR-DA-BURGER</h1>
            </div>
        </div>
    </div>

    {{!-- SPACER --}}

    <br />

    <br />

    <div class="row">
        {{!-- Burgers to eat column --}}
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Our Burgers</h3>
                    <hr>

                    <ol>
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <li>
                            <strong>{{this.burger_name}}&nbsp;&nbsp;&nbsp;</strong>

                            {{!-- devour this burger partial --}}
                            {{> burgers/devour-burger-block}}
                            <br />
                            <br />
                        </li>
                        {{/unless}}
                        {{/each }}
                    </ol>
                </div>
            </div>
        </div>

        {{!-- Offset column --}}
        <div class="col-md-2">
        </div>


        {{!-- Burgers devoured column --}}
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Devoured Burgers</h3>
                    <hr>
                    <ol>
                        {{#each burgers}}
                        {{#if this.devoured}}
                        <li>
                            <strong>{{this.burger_name}}</strong>
                        </li>
                        {{/if}}
                        {{/each }}
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <br />

    {{!-- the form to add burgers --}}
    <div class="card">
        <div class="card-body">
            <form class="add-a-burger">
                <div class="form-group">
                    <label for="addBurger"><h3>Add a Burger to Our Menu!</h3></label>
                    <textarea class="form-control" id="addBurger" rows="2"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
    {{!-- SPACER --}}

    <br />

</div>